* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #333;
}

code {
  font-size: 1.2em;
  background-color: #f9f9f9;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul {
  padding-inline-start: 20px;
}

.square {
  background: #fff;
  /* border: 1px solid #ddd; */
  color: #555;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin: -1px 0 0 -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.square.clicked {
  transform: scale(1.1);
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-top: 20px;
}

.reset-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #2980b9;
}

@media (max-width: 600px) {
  .game {
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .game-info {
    margin-top: 20px; /* Add space between board and game info on smaller screens */
  }

  .square {
    width: 40px; /* Adjust square size for smaller screens */
    height: 40px;
    font-size: 18px; /* Adjust font size for smaller screens */
    line-height: 40px;
  }

  .reset-button {
    padding: 10px 15px; /* Adjust button size for smaller screens */
    font-size: 14px;
  }
}

@media (min-width: 601px) {
  .game {
    flex-direction: row; /* Switch back to row layout on larger screens */
  }

  .game-info {
    margin-left: 20px;
    margin-top: 0; /* Reset margin for larger screens */
  }

  .board {
    max-width: 800px; /* Adjust maximum width for larger screens */
  }

  .square {
    width: 80px; /* Adjust square size for larger screens */
    height: 80px;
    font-size: 36px; /* Adjust font size for larger screens */
    line-height: 80px;
  }

  .reset-button {
    padding: 15px 20px; /* Adjust button size for larger screens */
    font-size: 18px;
  }
}